### Logistic Regression
Better for classification problems like predicting whether it will rain tomorrow.   
For any ML problem, first identify if it's a classification or regression problem 
#### Classification problems
- problems where each input must be assigned a discrete category (also called label or class)  
##### Examples:
- Rainfall prediction
- Breast cancer prediction - predicting whether a tumor is "benign" (noncancerous) or "malignant" (cancerous)  using  
information like its radius, texture etc
- Loan repayment prediction
- Handwritten Digit Recognition - Identifying which digit from 0 to 9 a picture of handwritten text represents etc

Classifications problems can be binary (yes/no) or multiclass (picking of many classes)


#### Regression problems
- Problems where a continous numeric values must be predicted for each input.  
##### Examples:
- Medical Charges prediction
- House Price Prediction
- Ocean temperature Prediction
- Weather Temperature Prediction  etc
 
#### Linear Regression for solving Regression problems
Linear regression is commonly used to solve the regression problems. In a linear regression model, the target is modeled as a  
linear combination (or weighted sum) of input features. The predictions from the model are evaluated using a loss function like   
the Root Mean Square Error (RMSE)

#### Logistic Regression for Solving Classification Problems
Logistic regression is a commonly used technique for solving binary classificatio problems. In a linear regression model:
- We take linear combination (or weighted sum of the input feature)
- We apply sigmoid function to the result to obtain a number between 0 and 1
- This number represents the probability of the input being classfied as "Yes"
- Instead of RMSE, the cross entropy loss function is used to evaluate the results

The output of the sigmoid function is called a **logistic**, hence the name **Logistic regression**. Logistic regression can   also be applied to multi-class classification problems, with a few modifications. 


Classification and regresssion are both supervised ML problem, because they use labeled data. ML applied to unlabeled data  
is known as unsupervised learning - Clustering.

In [3]:
!pip install opendatasets --upgrade --quiet

In [4]:
import opendatasets as od

In [6]:
od.version()

'0.1.22'

In [ ]:
# Just Ignore, didn't work as I expected
# {"username":"estherwabomba","key":"43dd3cbb7202aa65f69150a7e4aceb8f"}
dataset_url = 'https://www.kaggle.com/jsphyg/weather-dataset-rattle-package'
od.download(dataset_url, force=True)
import os
os.listdir(data_dir)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

In [22]:
# Loading the data using Pandas
import pandas as pd
raw_df = pd.read_csv("weatherAUS.csv")
raw_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [ ]:
raw_df.info()

The dataset contains over 145000 rows and 23 columns. The dataset contains date, numeric and categorical columns.   
Our objective is to create a model to predict the value in the column **RainTomorrow**

In [ ]:
# Check the data types and missing values
raw_df.info()